<configuration>
<system.webServer>
    <rewrite>
        <rules>
            <!-- HTTP to HTTPS redirect -->
            <rule name="HTTP to HTTPS redirect" stopProcessing="true">
                <match url="(.*)" />
                <conditions>
                    <add input="{HTTPS}" pattern="off" ignoreCase="true" />
                </conditions>
                <action type="Redirect" redirectType="Permanent" url="https://{HTTP_HOST}/{R:1}" />
            </rule>
            <!-- Redirect .php extension -->
            <rule name="Redirect .php extension" stopProcessing="false">
                <match url="^(.*).php$" ignoreCase="true" />
                <conditions logicalGrouping="MatchAny">
                    <add input="{URL}" pattern="(.*).php$" ignoreCase="false" />
                </conditions>
                <action type="Redirect" url="{R:1}" redirectType="Permanent" />
            </rule>
            <!-- Hide .php extension -->
            <rule name="Hide .php extension" stopProcessing="true">
                <match url="^(.*)$" ignoreCase="true" />
                <conditions>
                    <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                    <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    <add input="{REQUEST_FILENAME}.php" matchType="IsFile" />
                </conditions>
                <action type="Rewrite" url="{R:0}.php" />
            </rule>
        </rules>
    </rewrite>
</system.webServer>
</configuration>
