/****** ABOUT ME ******/

// Image
img.about__image {
  display: block;
  margin: 0 auto;
}

ul.projects__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  li {
    width: 25%;

    img {
      width: 100%;
    }
  }
}
