/****** ARTICLE ******/

article.article-container {

	section, .article-img-description, .article-text {
		max-width: $widthArticle;
		display: block;
		margin: 0 auto;
	}

	h2, h3, h4, h5 {
		padding-top: 2rem;
	}

	section.title-container {
		padding: 6rem 0 1rem;

		span.date {
			font-size: 0.8rem;
			font-weight: 600;
			letter-spacing: 0.8px;
			color: rgba($body, 0.5);
		}
	
		h1.title {
			font-size: 3rem;
			text-align: left;
			letter-spacing: 0.025px;
			line-height: 3rem;
			font-weight: 700;
			margin: 2rem 0 2rem;
		}

		// CATEGORIES
        ul.categories {
			display: flex;
			flex-wrap: wrap;
  
			li.category {
			  display: inline-block;
			  padding: 0.5rem 1rem;
			  color: $background;
			  background-color: $body;
			  font-size: 0.8rem;
			  border-radius: 100px;
			  margin: 0 0.5rem 0.5rem 0;
			}
		  }
	}

	img {
		width: 100%;
		margin-bottom: 1rem;
		border-radius: 8px;
	}

	div.article-img-container {
		margin: 2rem 0;

		&.img-large {
			width: 100%;
		}

		&.img-narrow {
			max-width: $widthArticle;
			display: block;
			margin-left: auto;
			margin-right: auto;
		}

		span.article-img-description {
			font-size: 0.8rem;
			color: rgba($body, 0.5);
			font-weight: 500;
		}
	}
}