/****** FOOTER ******/

footer.footer {
  background-color: $white;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  margin-top: 3rem;
  padding: $paddingGeneral;

  @media(min-width: $mq-Table) {
    display: flex;
    justify-content: space-between;
    padding: 0 2.5rem;

    li.social__item:not(:first-child) {
      padding-left: 2rem;
    }
  }

  // Social icons
  ul.social__list {
    display: flex;
    justify-content: space-between;
    padding: 1.2rem 0;
    box-shadow: 0 1px 0 0 rgba($black, 0.05);
    width: 100%;

    @media(min-width: $mq-Table) {
      width: auto;
    }

    a.social__link {
      display: flex;
      align-items: center;
      width: 24px;
      height: 24px;
      fill: $iconBase;

      // Icon
      svg.icon {
        transition: $transitionSlow;
      }
    }
  }

  .maxWidth {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    @media(min-width: $mq-Table) {
      flex-wrap: nowrap;
    }
  }

  // Small
  small.footer__copyright {
    padding: 1.2rem 0;
    font-size: 1rem;
    display: block;
    text-align: center;
  }
}
