/****** HEADER ******/

header.header {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: $white;
  //background-color: rgba(255, 255, 255, 0.8);
  //-webkit-backdrop-filter: saturate(180%) blur(20px);
  padding: $paddingGeneral;
  box-shadow: 0 1px 0 0 rgba($black, 0.1);
  transition: $transitionNormal;
  z-index: 999;

  .maxWidth {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    @media(min-width: $mq-Table) {
      flex-wrap: nowrap;
    }
  }

  // OPENED
  &.opened {
    box-shadow: 0 12px 25px 0 rgba($black, 0.1);

    div.headerContainer {
      box-shadow: 0 1px 0 0 rgba($black, 0.05);
    }
    nav.nav {
      height: auto;
      padding: 1rem;
      box-shadow: none;

      ul.nav__list {
        opacity: 1;
      }
    }
  }

  // Header Container
  div.headerContainer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    transition: $transitionNormal;

    @media(min-width: $mq-Table) {
      width: auto;

      a.header__action {
        display: none;
      }
    }

    // LOGO
    a.header__logo {
      display: block;
      padding: 1.2rem 0;
      text-decoration: none;
      color: $darkerGrey;
      font-size: 1.3rem;
      font-weight: 600;
      transition: $transitionNormal;

      &:hover {
        opacity: 0.5;
      }
    }

    // Header actions
    a.header__action {
      width: 22px;
      height: 22px;
    }
  }

  // Basic styles for nav
  nav.nav {
    height: 0;
    padding: 0 1rem;

    ul.nav__list {
      opacity: 0;
    }

    @media(min-width: $mq-Table) {
      height: auto;
      padding: 0;
      box-shadow: none;

      ul.nav__list {
        opacity: 1;
      }

      li.nav__item:not(:last-child) {
        padding-right: 2rem;
      }
    }
  }
}
