/****** HEADER ******/

header.header {
  width: 100%;
  top: 0;
  padding: $paddingGeneral;
  transition: $transitionNormal;
  z-index: 999;
  position: fixed;

  @supports(padding: max(0px)) {
    padding-left: unquote('max(#{1.5rem}, env(safe-area-inset-left))');
    padding-right: unquote('max(#{1.5rem}, env(safe-area-inset-right))');
  }

  @media(min-width: $minWidthTable) {
    padding: 0 3rem;
  }

  @media(min-width: $mq-Table) {
    padding: 0 2.5rem;
  }

  &.header--inTransition {
    background-color: $white;

    // DARK MODE
    @media (prefers-color-scheme: dark) {
      background-color: $header-footer-dark;
    }

    div.headerContainer {
      padding: 1rem 0;
    }
  }

  .maxWidth {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    @media(min-width: $mq-Table) {
      flex-wrap: nowrap;
    }
  }

  // OPENED
  &.opened {
    box-shadow: 0 12px 25px 0 rgba($black, 0.1);
    background-color: $white;

    // DARK MODE
    @media (prefers-color-scheme: dark) {
      background-color: $header-footer-dark;
    }

    div.headerContainer {
      box-shadow: 0 1px 0 0 rgba($black, 0.05);

      // DARK MODE
      @media (prefers-color-scheme: dark) {
        box-shadow: 0 1px 0 0 rgba($white-dark, 0.1);
      }
    }
    nav.nav {
      height: auto;
      padding: 1rem 0;
      box-shadow: none;

      ul.nav__list {
        opacity: 1;
      }
    }
  }

  // Header Container
  div.headerContainer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    transition: $transitionNormal;
    padding: 1.5rem 0;

    @media(min-width: $mq-Table) {
      width: auto;
      padding: 2rem 0;

      a.header__action {
        display: none;
      }
    }

    // LOGO
    a.header__logo {
      display: block;
      text-decoration: none;
      color: $darkGrey;
      font-size: 1.3rem;
      font-weight: 600;
      transition: $transitionNormal;

      // DARK MODE
      @media (prefers-color-scheme: dark) {
        color: $white-dark;
      }

      &:hover {
        opacity: 0.5;
      }
    }

    // Header actions
    a.header__action {
      width: 22px;
      height: 22px;
    }
  }

  // Basic styles for nav
  nav.nav {
    height: 0;
    padding: 0 1rem;

    ul.nav__list {
      opacity: 0;
    }

    @media(min-width: $mq-Table) {
      height: auto;
      padding: 0;
      box-shadow: none;

      ul.nav__list {
        opacity: 1;
      }

      li.nav__item:not(:last-child) {
        padding-right: 2rem;
      }
    }
  }
}
