/****** List ******/

// List
ul.list {
  width: 100%;

  // Item
  li.list__item {
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    // Infos
    div.item__info {
      @media(min-width: $mq-Table) {
        width: 50%;
        position: absolute;
        z-index: 10;
        right: 0;
      }

      // TITLE
      h2.item__title {
        font-size: 2.5rem;
        margin: 2rem 0 0;
        line-height: 2.5rem;

        @media(min-width: $mq-Table) {
          margin: 0;
          font-size: 3.25rem;
          line-height: 3.25rem;
        }
      }

      // BODY
      p.item__body {
        color: $body;
        margin: 1.5rem 0 2rem;
        line-height: 1.9rem;

        @media(min-width: $mq-Table) {
          margin: 2rem 0 2.5rem;
        }
      }

      // Actions
      div.actions {

        div.labelContainer {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-bottom: 1.5rem;

          // Label
          label.actions--label {
            display: block;
            font-size: 0.9rem;
            letter-spacing: 1px;
            font-weight: bold;
            text-transform: uppercase;
            color: $darkerGrey;
            margin-right: 1rem;
          }

          // Separator
          div.label__separator {
            display: block;
            height: 2px;
            flex-grow: 1;
            background-color: $darkerGrey;
            opacity: 0.8;
          }
        }

        // Buttons
        div.buttonContainer {
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
        }
      }
    }

    // Image
    picture {
      display: block;
      position: relative;

      img {
        display: block;
        width: 100%;

        @media(min-width: $mq-Table) {
          width: auto;
        }
      }
    }

    // Change order
    &:nth-child(even) {
      flex-direction: row-reverse;

      @media(min-width: $mq-Table) {

        div.item__info {
          left: 0;
        }
      }
    }

    // Space between lists
    &:not(:first-child) {
      padding-top: 4rem;

      @media(min-width: $mq-Table) {
        padding-top: 6rem;
      }
    }

    // Last list space after
    &:last-child {
      padding-bottom: 4rem;

      @media(min-width: $mq-Table) {
        padding-bottom: 6rem;
      }
    }
  }
}
