/****** List ******/

ul.list {
  display: flex;
  width: 100%;
  flex-wrap: wrap;

  // Item
  li.list__item {
    width: 100%;
    padding-bottom: 0.5em;

    // Tablet
    @media(min-width: $minWidthTablet) {
      width: 50%;

      &:nth-child(even) {
        padding-left: 0.25em;
      }

      &:nth-child(odd) {
        padding-right: 0.25em;
      }
    }

    .itemLink {
      display: block;
      width: 100%;
      position: relative;

      &:hover {
        div.item__info {
          filter: none;
        }

        picture {
          filter: opacity(15%);
        }
      }

      // Image
      picture {
        display: block;
        position: relative;
        width: 100%;
        transition: $transitionSlow;

        // filter: opacity(15%);

        .item__image {
          display: block;
          width: 100%;
        }

      }

      // Infos
      div.item__info {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        padding: 4rem;
        filter: opacity(0%);
        transition: $transitionSlow;

        span.date {
          align-self: flex-start;
          font-size: 1rem;
          font-weight: 600;
          letter-spacing: 0.8px;
          color: rgba($background, 0.8);
          margin-bottom: 1rem;
        }

        // TITLE
        h2.item__title {
          width: 100%;
          font-size: 2.5rem;
          line-height: 2.5rem;
          color: $background;
          margin: 0;
          padding-bottom: 2rem;
        }

        // CATEGORIES
        ul.categories {
          text-align: left;
          width: 100%;
          display: flex;
          flex-wrap: wrap;

          li.category {
            display: inline-block;
            padding: 0.5rem 1rem;
            color: $background;
            font-size: 0.8rem;
            border-radius: 100px;
            margin: 0 0.5rem 0.5rem 0;
          }
        }

        p.description {
          color: $background;
        }
      }
    }
  }
}
