ul.list {
  li.list__item {
    // Projects
    &#william-j-walter-terminal {
      .itemLink {
        background-color: $william-j-walter-terminal;

        // DARK MODE
        @media (prefers-color-scheme: dark) {
          background-color: $william-j-walter-terminal;
        }
      }
    }
    &#william-j-walter-website {
      .itemLink {
        background-color: $william-j-walter-website;

        // DARK MODE
        @media (prefers-color-scheme: dark) {
          background-color: $william-j-walter-website;
        }
      }
    }
    &#electric-car-vi {
      .itemLink {
        background-color: $electric-car-vi;

        // DARK MODE
        @media (prefers-color-scheme: dark) {
          background-color: $electric-car-vi;
        }
      }
    }
    &#square-book-layout {
      .itemLink {
        background-color: $square-book-layout;

        // DARK MODE
        @media (prefers-color-scheme: dark) {
          background-color: $square-book-layout;
        }
      }
    }
    &#faber-castell {
      .itemLink {
        background-color: $faber-castell;

        // DARK MODE
        @media (prefers-color-scheme: dark) {
          background-color: $faber-castell;
        }
      }
    }
    &#magazine-layout {
      .itemLink {
        background-color: $magazine-layout;

        // DARK MODE
        @media (prefers-color-scheme: dark) {
          background-color: $magazine-layout;
        }
      }
    }
    &#nuancier-logo {
      .itemLink {
        background-color: $nuancier-logo;

        // DARK MODE
        @media (prefers-color-scheme: dark) {
          background-color: $nuancier-logo;
        }
      }
    }
    &#pictogram-system {
      .itemLink {
        background-color: $pictogram-system;

        // DARK MODE
        @media (prefers-color-scheme: dark) {
          background-color: $pictogram-system;
        }
      }
    }
    &#music-festival-poster {
      .itemLink {
        background-color: $music-festival-poster;

        // DARK MODE
        @media (prefers-color-scheme: dark) {
          background-color: $music-festival-poster;
        }
      }
    }
    &#photo-contemporary-narcissism {
      .itemLink {
        background-color: $photo-contemporary-narcissism;

        // DARK MODE
        @media (prefers-color-scheme: dark) {
          background-color: $photo-contemporary-narcissism;
        }
      }
    }
    &#olfa-manual {
      .itemLink {
        background-color: $olfa-manual;

        // DARK MODE
        @media (prefers-color-scheme: dark) {
          background-color: $olfa-manual;
        }
      }
    }
    &#book-cover {
      .itemLink {
        background-color: $book-cover;

        // DARK MODE
        @media (prefers-color-scheme: dark) {
          background-color: $book-cover;
        }
      }
    }
    &#tim-website {
      .itemLink {
        background-color: $tim;

        // DARK MODE
        @media (prefers-color-scheme: dark) {
          background-color: $tim-dark;
        }
      }
    }
    &#stranger-quiz {
      .itemLink {
        background-color: $stranger-quiz;

        // DARK MODE
        @media (prefers-color-scheme: dark) {
          background-color: $stranger-quiz-dark;
        }
      }
    }
    &#institut-implantologie {
      .itemLink {
        background-color: $implantologie;

        // DARK MODE
        @media (prefers-color-scheme: dark) {
          background-color: $implantologie-dark;
        }
      }
    }
    &#chasseurs-genereux {
      .itemLink {
        background-color: $chasseurs-genereux;

        // DARK MODE
        @media (prefers-color-scheme: dark) {
          background-color: $chasseurs-genereux-dark;
        }
      }
    }
    &#consultants-forestiers {
      .itemLink {
        background-color: $cfms;

        // DARK MODE
        @media (prefers-color-scheme: dark) {
          background-color: $cfms-dark;
        }
      }
    }
    &#theo-turgeon {
      .itemLink {
        background-color: $theoturgeon;

        // DARK MODE
        @media (prefers-color-scheme: dark) {
          background-color: $theoturgeon-dark;
        }
      }
    }
    &#festival-off {
      .itemLink {
        background-color: $off;

        // DARK MODE
        @media (prefers-color-scheme: dark) {
          background-color: $off-dark;
        }
      }
    }
    &#headfm {
      .itemLink {
        background-color: $headfm;

        // DARK MODE
        @media (prefers-color-scheme: dark) {
          background-color: $headfm-dark;
        }
      }
    }
    &#ncweather {
      .itemLink {
        background-color: $ncweather;

        // DARK MODE
        @media (prefers-color-scheme: dark) {
          background-color: $ncweather-dark;
        }
      }
    }
    &#aurora {
      .itemLink {
        background-color: $aurora;

        // DARK MODE
        @media (prefers-color-scheme: dark) {
          background-color: $aurora-dark;
        }
      }
    }
    &#downloads {
      .itemLink {
        background-color: $downloads;

        // DARK MODE
        @media (prefers-color-scheme: dark) {
          background-color: $downloads-dark;
        }
      }
    }

    // Downloads
    &#iphone-x-mockup {
      .itemLink {
        background-color: $iphone-x-mockup;

        // DARK MODE
        @media (prefers-color-scheme: dark) {
          background-color: $iphone-x-mockup-dark;
        }
      }
    }
    &#simpledialog {
      .itemLink {
        background-color: $simpledialog;

        // DARK MODE
        @media (prefers-color-scheme: dark) {
          background-color: $simpledialog-dark;
        }
      }
    }
    &#macbook-pro-mockup {
      .itemLink {
        background-color: $macbook-pro-mockup;

        // DARK MODE
        @media (prefers-color-scheme: dark) {
          background-color: $macbook-pro-mockup-dark;
        }
      }
    }
    &#macos-folders {
      .itemLink {
        background-color: $macos-folders;

        // DARK MODE
        @media (prefers-color-scheme: dark) {
          background-color: $macos-folders-dark;
        }
      }
    }
    &#macos-hdd {
      .itemLink {
        background-color: $macos-hdd;

        // DARK MODE
        @media (prefers-color-scheme: dark) {
          background-color: $macos-hdd-dark;
        }
      }
    }
    &#ios6-homescreen {
      .itemLink {
        background-color: $ios6-homescreen;

        // DARK MODE
        @media (prefers-color-scheme: dark) {
          background-color: $ios6-homescreen-dark;
        }
      }
    }
  }
}
