/****** NAV ******/

nav.nav {
  padding: 1.2rem 0;
  box-shadow: 0 1px 0 0 rgba($black, 0.05);
  width: 100%;
  overflow: hidden;
  transition: $transitionNormal;

  @media(min-width: $mq-Table) {
    width: auto;
  }

  // Nav List
  ul.nav__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    transition: $transitionNormal;

    // Languages
    div.nav__languages {
      // Links
      a.nav__link:first-child {
        margin-right: 1rem;
      }

      @media(min-width: $mq-Table) {
        &:before {
          content: "|";
          display: inline-block;
          margin-right: 1rem;
        }
      }
    }

    .nav__item {
      width: 100%;
      text-align: center;
      margin: 1rem 0;

      @media(min-width: $mq-Table) {
        width: auto;
        text-align: left;
        margin: 0;
      }
    }

    .nav__items {
      display: block;
      width: 100%;
      box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.05);
      padding: 1.5rem 0 0.5rem;
      margin-top: 0.5rem;

      @media(min-width: $mq-Table) {
        width: auto;
        box-shadow: none;
        padding: 0;
        margin: 0;
      }
    }

    // Nav link
    .nav__link {
      font-size: 1.5rem;
      color: $darkerGrey;
      text-decoration: none;
      transition: $transitionNormal;

      @media(min-width: $mq-Table) {
        font-size: 1rem;
      }

      &--lang {
        background: none;
        box-shadow: none;
        border: 0;
        font-size: 1rem;
        outline: 0;

        &:hover {
          cursor: pointer;
        }
      }

      &--active {
        font-weight: 600;
        text-decoration: underline;
      }

      &:hover {
        opacity: 0.5;
      }
    }
  }
}
