/****** TEXT ******/

::selection {
  background: lighten($branding, 10%);
}
::-moz-selection {
  background: lighten($branding, 10%);
}

// Title
h1.title {
  font-size: 3.5rem;
  font-weight: 800;
  letter-spacing: -2px;
  color: $branding;
  position: relative;
  line-height: 3.8rem;
  animation-delay: 0.25s;

  &:before {
    content: attr(data-title);
    position: absolute;
    opacity: 0.07;
    color: $black;
    z-index: -1;
    top: 50%;
    left: 0;
    transform: translateY(-50%) translateX(40%) scale(1.6);
  }

  @media(min-width: $mq-Table) {
    font-size: 5.3rem;
    line-height: 5.5rem;
  }
}

p.subHead {
  padding-bottom: 2rem;
}

// LINK
a.link {
  color: $branding; //$blue
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

// FONT STYLES
// Bold
strong {
  font-family: $font;
  font-weight: 600;
}

// Italic
em {
  font-family: $font;
  font-style: italic;
}

.highlighter-rouge {
  margin-bottom: 1rem;

  pre {
    padding: 16px;
    overflow: auto;
    font-size: 100%;
    line-height: 1.45;
    background-color: rgba(27,31,35,0.05);
    border-radius: 3px;

    code {
      background: none;

      .kd, .o {
        color: #d73a49;
      }
      .nx {
        color: #6f42c1;
      }
    }
  }
}

code {
  font-family: "SFMono-Regular",Consolas,"Liberation Mono",Menlo,Courier,monospace;
  padding: 0.2em 0.4em;
  margin: 0;
  font-size: 85%;
  background-color: rgba(27,31,35,0.05);
  border-radius: 3px;
}

// QUOTE
blockquote {
  margin: 2rem 0.35rem 0;

  // Quote
  p {
    display: block;
    font-weight: 600;
    padding-left: 1rem;
    box-shadow: -3px 0 0 0 $darkerGrey;
  }
}

// Author
p.quote__author {
  margin: 0 0.35rem 2rem;
  a.link {
    font-weight: 600;
  }
}
