/****** TEXT ******/

::selection {
  background: lighten($branding, 30%);
}
::-moz-selection {
  background: lighten($branding, 30%);
}

// Title
h1.title {
  font-size: 3.5rem;
  font-weight: 800;
  letter-spacing: -2px;
  color: $branding;
  position: relative;

  &:before {
    content: attr(data-title);
    position: absolute;
    opacity: 0.07;
    color: $black;
    z-index: -1;
    top: 50%;
    left: 0;
    transform: translateY(-50%) translateX(40%) scale(1.6);
  }

  @media(min-width: $mq-Table) {
    font-size: 5.3rem;
  }
}

// LINK
a.link {
  color: $branding; //$blue
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

// FONT STYLES
.bold {
  font-family: $font;
  font-weight: 600;
}

.italic {
  font-family: $font;
  font-style: italic;
}

.underline {
  text-decoration: underline;
}

// QUOTE
div.quoteContainer {
  margin: 2rem 0.35rem;

  // Quote
  p.quote {
    display: block;
    font-weight: 600;
    padding-left: 1rem;
    box-shadow: -3px 0 0 0 $darkerGrey;
  }

  // Author
  span.quote__author {
    a.link {
      font-weight: 600;
    }
  }
}
