/****** WORK ******/

article.work__article {
  // Header
  .work__header {
    // Image
    .banner {
      margin-top: 1rem;
    }
  }

  // Title
  h1.title {
    margin-bottom: 1.5rem;
  }

  // Image
  section img {
    margin: 2rem 0;
  }
}
