/****** COLORS ******/

// Base
$background: #F2EEED;
$white: #fff;
$black: #000;
$branding: #843AF9;

// Grey
$darkerGrey: #252525;
$darkGrey: #3C3C3C;
$grey: #9A9A9A;

$body: rgba($black, 0.7);

// Blue
$paleBlue: #53BCFF;
$blue: #2582FF;

// Social icons
$iconBase: #ABABAB;
$twitter: #00AAEC;
$dribbble: #EC4989;
$github: #3E75C3;
$instagram: #EF307C;
$linkedin: #007EBB;
$codepen: $black;
$medium: #02B875;
$behance: #1769FF;
