/****** COLORS ******/

// Base
$background: #f2eeed;
$background-dark: #1e1e1e;
$white: #fff;
$white-dark: rgba($white, 0.8);
$black: #000;
$branding: $white; //843af9
$branding-dark: $white-dark; //6531bc

// Grey
$darkGrey: #252525;
$lightGrey: #ababab;

$header-footer: $white;
$header-footer-dark: #2b2b2b;

$body: rgba($black, 0.85);

// Blue
$paleBlue: #53bcff;
$blue: #2582ff;

// Projects
$william-j-walter: #657C89;
$electric-car-vi: #4EC490;
$square-book-layout: #4A4F62;
$faber-castell: #38A3D2;
$magazine-layout: #EBC2AC;
$nuancier-logo: #10935C;
$pictogram-system: #FFD339;
$olfa-manual: #F09660;
$photo-contemporary-narcissism: #72C3BF;
$book-cover: #DBD6CF;
$music-festival-poster: #303030;
$tim: #f03061;
$stranger-quiz: #fe2f2f;
$implantologie: #39a3d2;
$chasseurs-genereux: #ff5b36;
$cfms: #77dd74;
$theoturgeon: #17983D;
$off: #fc2c84;
$headfm: #8B8B8B;
$ncweather: #A47AE6;
$aurora: #6abdf1;
$downloads: #A383D6;

//Downloads
$iphone-x-mockup: #d7d7d7;
$iphone-x-mockup-dark: $header-footer-dark;
$simpledialog: #5196ff;
$simpledialog-dark: #325b9c;
$macbook-pro-mockup: #ff7d7d;
$macbook-pro-mockup-dark: #9b3b3b;
$macos-folders: #fff393;
$macos-folders-dark: $header-footer-dark;
$macos-hdd: $simpledialog;
$macos-hdd-dark: $simpledialog-dark;
$ios6-homescreen: $iphone-x-mockup;
$ios6-homescreen-dark: $iphone-x-mockup-dark;

// Social icons
$iconBase: $lightGrey;
$twitter: #00aaec;
$dribbble: #ec4989;
$github: $black;
$instagram: #ef307c;
$linkedin: #007ebb;
$codepen: $black;
$medium: #02b875;
$behance: #1769ff;
