a.icon {
  display: block;
  font-size: 0;
  background: center no-repeat;

  // Hamburger
  &--hamburger {
    background-image: url(../images/icons/hamburger.svg);

    // DARK MODE
    // @media (prefers-color-scheme: dark) {
    //   background-image: url(../images/icons/hamburger--light.svg);
    //   opacity: 0.8;
    // }
  }

  // Close
  &--close {
    background-image: url(../images/icons/close.svg);

    // DARK MODE
    // @media (prefers-color-scheme: dark) {
    //   background-image: url(../images/icons/close--light.svg);
    //   opacity: 0.8;
    // }
  }
}

svg.icon {
  display: block;

  // Twitter
  &--twitter:hover {
    fill: $twitter;
  }

  // Dribbble
  &--dribbble:hover {
    fill: $dribbble;
  }

  // GitHub
  &--github:hover {
    fill: $github;
  }

  // Instagram
  &--instagram:hover {
    fill: $instagram;
  }

  // LinkedIn
  &--linkedin:hover {
    fill: $linkedin;
  }
}
