ul.list {
  li.list__item {
    // Projects
    &#william-j-walter {
      .itemLink {
        background-color: $william-j-walter;

        // DARK MODE
        @media (prefers-color-scheme: dark) {
          background-color: darken($william-j-walter, 15%);
        }
      }
      li.category {
        background-color: lighten($william-j-walter, 15%);

        // DARK MODE
        // @media (prefers-color-scheme: dark) {
        //   background-color: darken(darken($william-j-walter, 15%), 5%);
        // }
      }
    }
    &#electric-car-vi {
      .itemLink {
        background-color: $electric-car-vi;

        // DARK MODE
        @media (prefers-color-scheme: dark) {
          background-color: darken($electric-car-vi, 15%);
        }
      }
      li.category {
        background-color: darken($electric-car-vi, 10%);

        // DARK MODE
        // @media (prefers-color-scheme: dark) {
        //   background-color: darken(darken($electric-car-vi, 15%), 5%);
        // }
      }
    }
    &#square-book-layout {
      .itemLink {
        background-color: $square-book-layout;

        // DARK MODE
        @media (prefers-color-scheme: dark) {
          background-color: darken($square-book-layout, 15%);
        }
      }
      li.category {
        background-color: lighten($square-book-layout, 15%);

        // DARK MODE
        // @media (prefers-color-scheme: dark) {
        //   background-color: darken($square-book-layout, 10%);
        // }
      }
    }
    &#faber-castell {
      .itemLink {
        background-color: $faber-castell;

        // DARK MODE
        @media (prefers-color-scheme: dark) {
          background-color: darken($faber-castell, 15%);
        }
      }
      li.category {
        background-color: lighten($faber-castell, 15%);

        // DARK MODE
        // @media (prefers-color-scheme: dark) {
        //   background-color: darken($faber-castell, 20%);
        // }
      }
    }
    &#magazine-layout {
      .itemLink {
        background-color: $magazine-layout;

        // DARK MODE
        @media (prefers-color-scheme: dark) {
          background-color: darken($magazine-layout, 15%);
        }
      }
      li.category {
        background-color: darken($magazine-layout, 10%);

        // DARK MODE
        // @media (prefers-color-scheme: dark) {
        //   background-color: darken($magazine-layout, 20%)
        // }
      }
    }
    &#nuancier-logo {
      .itemLink {
        background-color: $nuancier-logo;

        // DARK MODE
        @media (prefers-color-scheme: dark) {
          background-color: darken($nuancier-logo, 15%);
        }
      }
      li.category {
        background-color: lighten($nuancier-logo, 10%);

        // DARK MODE
        // @media (prefers-color-scheme: dark) {
        //   background-color: darken($nuancier-logo, 5%);
        // }
      }
    }
    &#pictogram-system {
      .itemLink {
        background-color: $pictogram-system;

        // DARK MODE
        @media (prefers-color-scheme: dark) {
          background-color: darken($pictogram-system, 20%);
        }
      }
      li.category {
        background-color: darken($pictogram-system, 15%);

        // DARK MODE
        // @media (prefers-color-scheme: dark) {
        //   background-color: darken($pictogram-system, 15%);
        // }
      }
    }
    &#music-festival-poster {
      .itemLink {
        background-color: $music-festival-poster;

        // DARK MODE
        @media (prefers-color-scheme: dark) {
          background-color: darken($music-festival-poster, 5%);
        }
      }
      li.category {
        background-color: lighten($music-festival-poster, 15%);

        // DARK MODE
        // @media (prefers-color-scheme: dark) {
        //   background-color: lighten($music-festival-poster, 5%);
        // }
      }
    }
    &#olfa-manual {
      .itemLink {
        background-color: $olfa-manual;

        // DARK MODE
        @media (prefers-color-scheme: dark) {
          background-color: darken($olfa-manual, 15%);
        }
      }
      li.category {
        background-color: darken($olfa-manual, 10%);

        // DARK MODE
        // @media (prefers-color-scheme: dark) {
        //   background-color: darken($olfa-manual, 20%);
        // }
      }
    }
    &#photo-contemporary-narcissism {
      .itemLink {
        background-color: $photo-contemporary-narcissism;

        // DARK MODE
        @media (prefers-color-scheme: dark) {
          background-color: darken($photo-contemporary-narcissism, 15%);
        }
      }
      li.category {
        background-color: darken($photo-contemporary-narcissism, 15%);

        // DARK MODE
        // @media (prefers-color-scheme: dark) {
        //   background-color: darken($photo-contemporary-narcissism, 20%);
        // }
      }
    }
    &#book-cover {
      .itemLink {
        background-color: $book-cover;

        .item__title {
          color: lighten($body, 10%);
        }
        .date {
          color: lighten($body, 10%);
        }
        .button {
          color: lighten($body, 10%);

          &:before {
            background-color: lighten($body, 10%);
          }

          &:after {
            background-image: url("../images/icons/external-link-dark.svg");
          }
        }

        // DARK MODE
        @media (prefers-color-scheme: dark) {
          background-color: darken($book-cover, 30%);
        }
      }
      li.category {
        background-color: darken($book-cover, 65%);

        // DARK MODE
        // @media (prefers-color-scheme: dark) {
        //   background-color: darken($book-cover, 65%);
        // }
      }
    }
    &#tim-website {
      .itemLink {
        background-color: $tim;

        // DARK MODE
        @media (prefers-color-scheme: dark) {
          background-color: darken($tim, 15%);
        }
      }
      li.category {
        background-color: lighten($tim, 15%);

        // DARK MODE
        // @media (prefers-color-scheme: dark) {
        //   background-color: darken($tim, 25%);
        // }
      }
    }
    &#stranger-quiz {
      .itemLink {
        background-color: $stranger-quiz;

        // DARK MODE
        @media (prefers-color-scheme: dark) {
          background-color: darken($stranger-quiz, 15%);
        }
      }
      li.category {
        background-color: lighten($stranger-quiz, 15%);

        // DARK MODE
        // @media (prefers-color-scheme: dark) {
        //   background-color: darken($stranger-quiz, 25%);
        // }
      }
    }
    &#institut-implantologie {
      .itemLink {
        background-color: $implantologie;

        // DARK MODE
        @media (prefers-color-scheme: dark) {
          background-color: darken($implantologie, 15%);
        }
      }
      li.category {
        background-color: lighten($implantologie, 15%);

        // DARK MODE
        // @media (prefers-color-scheme: dark) {
        //   background-color: darken($implantologie, 25%);
        // }
      }
    }
    &#chasseurs-genereux {
      .itemLink {
        background-color: $chasseurs-genereux;

        // DARK MODE
        @media (prefers-color-scheme: dark) {
          background-color: darken($chasseurs-genereux, 15%);
        }
      }
      li.category {
        background-color: lighten($chasseurs-genereux, 15%);

        // DARK MODE
        // @media (prefers-color-scheme: dark) {
        //   background-color: darken($chasseurs-genereux, 25%);
        // }
      }
    }
    &#consultants-forestiers {
      .itemLink {
        background-color: $cfms;

        // DARK MODE
        @media (prefers-color-scheme: dark) {
          background-color: darken($cfms, 15%);
        }
      }
      li.category {
        background-color: darken($cfms, 15%);

        // DARK MODE
        // @media (prefers-color-scheme: dark) {
        //   background-color: darken($cfms, 30%);
        // }
      }
    }
    &#theo-turgeon {
      .itemLink {
        background-color: $theoturgeon;

        // DARK MODE
        @media (prefers-color-scheme: dark) {
          background-color: darken($theoturgeon, 15%);
        }
      }
      li.category {
        background-color: lighten($theoturgeon, 10%);

        // DARK MODE
        // @media (prefers-color-scheme: dark) {
        //   background-color: darken($theoturgeon, 20%);
        // }
      }
    }
    &#festival-off {
      .itemLink {
        background-color: $off;

        // DARK MODE
        @media (prefers-color-scheme: dark) {
          background-color: darken($off, 15%);
        }
      }
      li.category {
        background-color: lighten($off, 15%);

        // DARK MODE
        // @media (prefers-color-scheme: dark) {
        //   background-color: darken($off, 25%);
        // }
      }
    }
    &#headfm {
      .itemLink {
        background-color: $headfm;

        // DARK MODE
        @media (prefers-color-scheme: dark) {
          background-color: darken($headfm, 15%);
        }
      }
      li.category {
        background-color: lighten($headfm, 15%);

        // DARK MODE
        // @media (prefers-color-scheme: dark) {
        //   background-color: darken($headfm, 25%);
        // }
      }
    }
    &#ncweather {
      .itemLink {
        background-color: $ncweather;

        // DARK MODE
        @media (prefers-color-scheme: dark) {
          background-color: darken($ncweather, 15%);
        }
      }
      li.category {
        background-color: lighten($ncweather, 5%);

        // DARK MODE
        // @media (prefers-color-scheme: dark) {
        //   background-color: darken($ncweather, 25%);
        // }
      }
    }
    &#aurora {
      .itemLink {
        background-color: $aurora;

        // DARK MODE
        @media (prefers-color-scheme: dark) {
          background-color: darken($aurora, 15%);
        }
      }
      li.category {
        background-color: lighten($aurora, 5%);

        // DARK MODE
        // @media (prefers-color-scheme: dark) {
        //   background-color: darken($aurora, 25%);
        // }
      }
    }
    &#downloads {
      .itemLink {
        background-color: $downloads;

        // DARK MODE
        // @media (prefers-color-scheme: dark) {
        //   background-color: darken($downloads, 15%);
        // }
      }
    }

    // Downloads
    &#iphone-x-mockup {
      .itemLink {
        background-color: $iphone-x-mockup;

        // DARK MODE
        @media (prefers-color-scheme: dark) {
          background-color: $iphone-x-mockup-dark;
        }
      }
    }
    &#simpledialog {
      .itemLink {
        background-color: $simpledialog;

        // DARK MODE
        @media (prefers-color-scheme: dark) {
          background-color: $simpledialog-dark;
        }
      }
    }
    &#macbook-pro-mockup {
      .itemLink {
        background-color: $macbook-pro-mockup;

        // DARK MODE
        @media (prefers-color-scheme: dark) {
          background-color: $macbook-pro-mockup-dark;
        }
      }
    }
    &#macos-folders {
      .itemLink {
        background-color: $macos-folders;

        // DARK MODE
        @media (prefers-color-scheme: dark) {
          background-color: $macos-folders-dark;
        }
      }
    }
    &#macos-hdd {
      .itemLink {
        background-color: $macos-hdd;

        // DARK MODE
        @media (prefers-color-scheme: dark) {
          background-color: $macos-hdd-dark;
        }
      }
    }
    &#ios6-homescreen {
      .itemLink {
        background-color: $ios6-homescreen;

        // DARK MODE
        @media (prefers-color-scheme: dark) {
          background-color: $ios6-homescreen-dark;
        }
      }
    }
  }
}
