<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-86001135-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-86001135-1');
    </script>

    <meta charset="UTF-8">

    <link rel="canonical" href="{{ site.url }}{{ page.url }}">
    <link rel="alternate" href="{{ site.url }}{{ page.altUrl.url }}" hreflang="{{ page.altUrl.lang }}">

    <title>{{ page.title }} | {{ site.title }}</title>
    {% if page.lang == "fr" %}
    <meta name="description" content="{{ site.descriptionFr }}">
    {% else if page.lang == "en" %}
    <meta name="description" content="{{ site.description }}">
    {% endif %}
    <meta name="keywords" content="design, web, intégration, multimédia, french, quebec, québec, english, canada, TIM, ste-foy, sainte-foy, apple, iPhone, developer, front-end">
    <meta name="author" content="{{ site.author }}">

    <meta name='viewport' content='initial-scale=1, viewport-fit=cover'>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <meta property="og:title" content="{{ page.title }} | {{ site.title }}">
    <meta property="og:site_name" content="{{ site.title }}">
    <meta property="og:type" content="website">
    <!-- <meta property="og:image" content="{{ site.url }}/assets/images/favicons/ogp/{{ page.title | downcase }}.png"> -->
    <!-- <meta property="og:image:width" content="1200"> -->
    <!-- <meta property="og:image:height" content="630"> -->
    <meta property="og:url" content="{{ site.url }}{{ page.url }}">
    {% if page.lang == "fr" %}
    <meta property="og:description" content="{{ site.descriptionFr }}">
    <meta property="og:locale" content="fr_CA">
    <meta property="og:locale:alternate" content="en_US">
    {% else if page.lang == "en" %}
    <meta property="og:description" content="{{ site.description }}">
    <meta property="og:locale" content="en_US">
    <meta property="og:locale:alternate" content="fr_CA">
    {% endif %}

    <link rel="apple-touch-icon" sizes="180x180" href="{{ "/assets/images/favicons/apple-touch-icon.png" | relative_url }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ "/assets/images/favicons/favicon-32x32.png" | relative_url }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ "/assets/images/favicons/favicon-16x16.png" | relative_url }}">
    <link rel="manifest" href="{{ "/assets/images/favicons/site.webmanifest" | relative_url }}">
    <link rel="mask-icon" href="{{ "/assets/images/favicons/safari-pinned-tab.svg" | relative_url }}" color="#f2eeed">
    <link rel="shortcut icon" href="{{ "/assets/images/favicons/favicon.ico" | relative_url }}">
    <meta name="msapplication-TileColor" content="#f2eeed">
    <meta name="msapplication-config" content="{{ "/assets/images/favicons/browserconfig.xml" | relative_url }}">
    <meta name="theme-color" content="#f2eeed">
    <meta name="theme-color" content="#f2eeed" media="(prefers-color-scheme: light)">
    <meta name="theme-color" content="#1e1e1e" media="(prefers-color-scheme: dark)">

    <link href="{{ "/assets/css/styles.css" | relative_url }}" rel="stylesheet">
</head>
