<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, viewport-fit=cover">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ site.title | escape }} | {{ page.title | escape }}</title>
  <link href="{{ "/assets/css/styles.css" | relative_url }}" rel="stylesheet">

  <link rel="apple-touch-icon" sizes="60x60" href="{{ "/assets/images/favicons/apple-icon-60x60.png" | relative_url }}">
  <link rel="apple-touch-icon" sizes="120x120" href="{{ "/assets/images/favicons/apple-icon-120x120.png" | relative_url }}">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ "/assets/images/favicons/apple-icon-180x180.png" | relative_url }}">

  <link rel="icon" type="image/png" sizes="16x16" href="{{ "/assets/images/favicons/favicon-16x16.png" | relative_url }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ "/assets/images/favicons/favicon-32x32.png" | relative_url }}">
</head>
