<header class="header">
    <div class="maxWidth">
        <div class="headerContainer">
            <a class="header__logo" href="{{ site.local[page.lang].work.url }}">Jérémy Goulet</a>
            <a href="#" class="header__action icon icon--hamburger">Menu</a>
        </div>
        <nav class="nav">
            <ul class="nav__list">
                {% for menu in site.local[page.lang] %}
                <li class="nav__item">
                    <a class="nav__link {% if page.navItem == menu[1].name %} nav__link--active {% endif %}" href="{{ menu[1].url }}">{{ menu[1].name }}</a>
                </li>
                {% endfor %}
                <li class="nav__item">
                    <a class="nav__link" href="mailto: info@jeremygoulet.ca">Me contacter</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
