{% assign list = site.portfolio | sort: "date" | reverse | where:"lang", page.lang %}

<ul class="list">

  {% for item in list %}

  {% assign year = item.date | date: "%Y" %}

  <li class="list__item loadAnimated" id="{{ item.ref }}">

    <a href="{{ item.permalink }}" class="itemLink">

      <picture>
        <source class="item__image"
          srcset="/assets/images/{{ page.listCategory }}/{{ item.ref }}/hero.png 1x, /assets/images/{{ page.listCategory }}/{{ item.ref }}/hero@2x.png 2x"
          type="image/jpeg" />
        <img class="item__image" src="/assets/images/{{ page.listCategory }}/{{ item.ref }}/hero.png"
          srcset="/assets/images/{{ page.listCategory }}/{{ item.ref }}/hero.png 1x, /assets/images/{{ page.listCategory }}/{{ item.ref }}/hero@2x.png 2x"
          alt="{{ item.title }}" />
      </picture>
      <div class="item__info">

        <span class="date">{{ year }}</span>
        <h2 class="item__title">{{ item.title }}</h2>

        <!-- {% if item.categories %}
        <ul class="categories">
          {% for category in item.categories %}
          <li class="category">#{{ category | downcase }}</li>
          {% endfor %}
        </ul>
        {% endif %} -->

        <!-- {% if item.description %}
        <p class="description">
          {{ item.description }}
        </p>
        {% endif %} -->

        <!-- <ul class="buttonList">
          {% if item.layout == "article" %}
          <li><span class="button">Voir ma démarche</span></li></li>
          {% else %}
            {% for button in item.buttons %}
            <li>
              <a class="button{% if button.target == "external" %} external{% endif %}" href="{{ button.url }}"{% if button.target == "external" %} target="_blank"{% endif %}>{{ button.label }}</a></li>
            {% endfor %}
          {% endif %}
        </ul> -->

      </div>
    </a>

  </li>

  {% endfor %}

</ul>