<ul class="list">

{% for item in list %}

<li class="list__item" id="{{ item.ref }}">
  <a href="{{ item.permalink }}" class="itemLink loadAnimated">
    <picture class="loadAnimated">
        <source class="item__image loadAnimated" srcset="/assets/images/{{ page.listCategory }}/{{ item.ref }}/hero.png 1x, /assets/images/{{ page.listCategory }}/{{ item.ref }}/hero@2x.png 2x, /assets/images/{{ page.listCategory }}/{{ item.ref }}/hero@3x.png 3x" type="image/jpeg" />
        <img class="item__image loadAnimated" src="/assets/images/{{ page.listCategory }}/{{ item.ref }}/hero.png" srcset="/assets/images/{{ page.listCategory }}/{{ item.ref }}/hero.png 1x, /assets/images/{{ page.listCategory }}/{{ item.ref }}/hero@2x.png 2x, /assets/images/{{ page.listCategory }}/{{ item.ref }}/hero@3x.png 3x" alt="{{ item.title }}" />
    </picture>
    <div class="item__info">
        <h2 class="item__title">{{ item.title }}</h2>
        <!-- <div class="actions">
            <div class="buttonContainer">
                {% for button in item.buttons %}
                <a class="button" {% if button.target %} target="{{ button.target }}" {% endif %} href="{{ button.url }}">{{ button.label }}</a>
                {% endfor %}
            </div>
        </div> -->
    </div>
  </a>
</li>

{% endfor %}

</ul>
