{% assign list = site.telechargements | sort: "date" | reverse | where:"lang", page.lang %}

<ul class="list">

  {% for item in list %}

  <li class="list__item loadAnimated" id="{{ item.ref }}">
    <a href="{{ item.permalink }}" class="itemLink">
      <picture>
        <source class="item__image"
          srcset="/assets/images/{{ page.listCategory }}/{{ item.ref }}/hero.png 1x, /assets/images/{{ page.listCategory }}/{{ item.ref }}/hero@2x.png 2x"
          type="image/jpeg" />
        <img class="item__image" src="/assets/images/{{ page.listCategory }}/{{ item.ref }}/hero.png"
          srcset="/assets/images/{{ page.listCategory }}/{{ item.ref }}/hero.png 1x, /assets/images/{{ page.listCategory }}/{{ item.ref }}/hero@2x.png 2x"
          alt="{{ item.title }}" />
      </picture>
      <div class="item__info">
        <h2 class="item__title">{{ item.title }}</h2>
        <!-- <div class="actions">
            <div class="buttonContainer">
                {% for button in item.buttons %}
                <a class="button" {% if button.target %} target="{{ button.target }}" {% endif %} href="{{ button.url }}">{{ button.label }}</a>
                {% endfor %}
            </div>
        </div> -->
      </div>
    </a>
  </li>

  {% endfor %}

</ul>