{% assign list = site.telechargements | sort: "date" | reverse | where:"lang", page.lang %}

<ul class="list">

  {% for download in list %}

  {% assign year = download.date | date: "%Y" %}

  <li class="list__item loadAnimated" id="{{ download.ref }}">
    <div class="itemLink">

      <picture>
        <source class="item__image"
          srcset="/assets/images/{{ page.listCategory }}/{{ download.ref }}/hero.png 1x, /assets/images/{{ page.listCategory }}/{{ download.ref }}/hero@2x.png 2x"
          type="image/jpeg" />
        <img class="item__image" src="/assets/images/{{ page.listCategory }}/{{ download.ref }}/hero.png"
          srcset="/assets/images/{{ page.listCategory }}/{{ download.ref }}/hero.png 1x, /assets/images/{{ page.listCategory }}/{{ download.ref }}/hero@2x.png 2x"
          alt="{{ download.title }}" />
      </picture>
      <div class="item__info">

        <span class="date">{{ year }}</span>
        <h2 class="item__title">{{ download.title }}</h2>

        {% if download.categories %}
        <ul class="categories">
          {% for category in download.categories %}
          <li class="category">#{{ category | downcase }}</li>
          {% endfor %}
        </ul>
        {% endif %}

        {% if download.description %}
        <p class="description">
          {{ download.description }}
        </p>
        {% endif %}

        <ul class="buttonList">
          {% for button in download.buttons %}
          <li><a class="button{% if button.target == "external" %} external{% endif %}" href="{{ button.url }}"{% if button.target == "external" %} target="_blank"{% endif %}>{{ button.label }}</a></li>
          {% endfor %}
        </ul>

      </div>
    </div>
  </li>

  {% endfor %}

</ul>