/****** BUTTONS ******/

.button {
  display: inline-block;
  position: relative;
  padding: 1rem 0;
  min-width: 250px;
  box-shadow: inset 0 0 0 2px $darkGrey;
  background: none;
  color: $white;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.8px;
  font-family: $font;
  border: 0;
  font-weight: bold;
  font-size: 1rem;
  text-align: center;
  margin-bottom: 1rem;
  flex-grow: 1;
  flex-basis: 40%; //when 3 buttons
  cursor: pointer;
  outline: 0;
  transition: $transitionNormal;

  // DARK MODE
  @media (prefers-color-scheme: dark) {
    box-shadow: inset 0 0 0 2px $branding;
  }

  &:hover, &:focus {
    &:before {
      //box-shadow: inset 0 0 0 2px $darkGrey;
      transform: none;
    }
  }

  &:active {
    transform: scale(0.95);

    &:before {
      //box-shadow: inset 0 0 0 2px $darkGrey;
      transform: none;
    }
  }

  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    background-color: $branding;
    width: 100%;
    height: 100%;
    z-index: -2;
    transform: translateX(-4px) translateY(4px);
    transition: $transitionNormal;

    // DARK MODE
    @media (prefers-color-scheme: dark) {
      background-color: $branding-dark;
    }
  }
}

// Only on links
a.button {
  @media(min-width: $minWidthTablette) {
    // When more than 1 button
    &:nth-child(even) {
      margin-left: 1rem;
    }
  }
}

// Form button
button.button {
  margin-top: 1rem;
}
