/****** BUTTONS ******/

.buttonList {
  padding-top: 1rem;
  text-align: left;
  width: 100%;
  //display: flex;
  //flex-wrap: wrap;

  li {
    display: block;

    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }
}

.button {
  display: inline-block;
  background: none;
  position: relative;
  text-decoration: none;
  color: $background;
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 600;
  letter-spacing: 0.5px;
  transition: $transitionNormal;

  &:before {
    content: "";
    display: block;
    position: absolute;
    width: 0%;
    height: 1px;
    bottom: -5px;
    background-color: $background;
    opacity: 1;
    transition: $transitionNormal;
  }

  &:after {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    background-image: url("../images/icons/external-link.svg");
    position: relative;
    top: 0;
    margin-left: 4px;
  }

  &:hover, &:focus {
    &:before {
      width: 100%;
    }
  }
}