/****** BUTTONS ******/

.button {
  display: inline-block;
  position: relative;
  padding: 1rem 0;
  min-width: 250px;
  box-shadow: inset 0 0 0 2px $darkGrey;
  background: none;
  color: $black;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.8px;
  font-family: $font;
  border: 0;
  font-weight: bold;
  font-size: 1rem;
  text-align: center;
  margin-bottom: 1rem;
  flex-grow: 1;
  flex-basis: 40%; //when 3 buttons
  cursor: pointer;
  outline: 0;
  transition: $transitionNormal;
  background-color: $background;

  @supports ((-webkit-backdrop-filter: blur(2em)) or (backdrop-filter: blur(2em))) {
    background-color: rgba($white, 0.3);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
  }

  // DARK MODE
  @media (prefers-color-scheme: dark) {
    background-color: $background-dark;
    box-shadow: inset 0 0 0 2px $branding;
    color: $white-dark;

    &:hover, &:focus {
      color: $body;
    }

    @supports ((-webkit-backdrop-filter: blur(2em)) or (backdrop-filter: blur(2em))) {
      background-color: rgba($darkGrey, 0.7);
      -webkit-backdrop-filter: saturate(180%) blur(20px);
      backdrop-filter: saturate(180%) blur(20px);
    }
  }

  &:hover, &:focus {
    background-color: $white;
  }

  &:active {
    transform: scale(0.95);
  }
}

// Only on links
a.button {
  // Tablet
  @media(min-width: $minWidthTablet) {
    // When more than 1 button
    &:nth-child(even) {
      margin-left: 1rem;
    }
  }
}

// Form button
button.button {
  margin-top: 1rem;
}
