/****** grand ******/

// light
@font-face {
  font-family: "ppagrandir-grand";
  src: url("../fonts/ppagrandir/grand/ppagrandir-grandlight.eot");
  src: url("../fonts/ppagrandir/grand/ppagrandir-grandlight.woff2") format("woff2"),
  url("../fonts/ppagrandir/grand/ppagrandir-grandlight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

// regular
@font-face {
  font-family: "ppagrandir-grand";
  src: url("../fonts/ppagrandir/grand/ppagrandir-grandregular.eot");
  src: url("../fonts/ppagrandir/grand/ppagrandir-grandregular.woff2") format("woff2"),
  url("../fonts/ppagrandir/grand/ppagrandir-grandregular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

// italic
@font-face {
  font-family: "ppagrandir-grand";
  src: url("../fonts/ppagrandir/grand/ppagrandir-granditalic.eot");
  src: url("../fonts/ppagrandir/grand/ppagrandir-granditalic.woff2") format("woff2"),
  url("../fonts/ppagrandir/grand/ppagrandir-granditalic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

// heavy
@font-face {
  font-family: "ppagrandir-grand";
  src: url("../fonts/ppagrandir/grand/ppagrandir-grandheavy.eot");
  src: url("../fonts/ppagrandir/grand/ppagrandir-grandheavy.woff2") format("woff2"),
  url("../fonts/ppagrandir/grand/ppagrandir-grandheavy.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

/****** narrow ******/

// regular
@font-face {
  font-family: "ppagrandir-narrow";
  src: url("../fonts/ppagrandir/narrow/ppagrandir-narrowregular.eot");
  src: url("../fonts/ppagrandir/narrow/ppagrandir-narrowregular.woff2") format("woff2"),
  url("../fonts/ppagrandir/narrow/ppagrandir-narrowregular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

// black
@font-face {
  font-family: "ppagrandir-narrow";
  src: url("../fonts/ppagrandir/narrow/ppagrandir-narrowblack.eot");
  src: url("../fonts/ppagrandir/narrow/ppagrandir-narrowblack.woff2") format("woff2"),
  url("../fonts/ppagrandir/narrow/ppagrandir-narrowblack.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

/****** text ******/

// thin italic
@font-face {
  font-family: "ppagrandir-text";
  src: url("../fonts/ppagrandir/text/ppagrandir-thinitalic.eot");
  src: url("../fonts/ppagrandir/text/ppagrandir-thinitalic.woff2") format("woff2"),
  url("../fonts/ppagrandir/text/ppagrandir-thinitalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
}

// regular
@font-face {
  font-family: "ppagrandir-text";
  src: url("../fonts/ppagrandir/text/ppagrandir-regular.eot");
  src: url("../fonts/ppagrandir/text/ppagrandir-regular.woff2") format("woff2"),
  url("../fonts/ppagrandir/text/ppagrandir-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

// italic
@font-face {
  font-family: "ppagrandir-text";
  src: url("../fonts/ppagrandir/text/ppagrandir-italic.eot");
  src: url("../fonts/ppagrandir/text/ppagrandir-italic.woff2") format("woff2"),
  url("../fonts/ppagrandir/text/ppagrandir-italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

// bold (bold)
@font-face {
  font-family: "ppagrandir-text";
  src: url("../fonts/ppagrandir/text/ppagrandir-bold.eot");
  src: url("../fonts/ppagrandir/text/ppagrandir-bold.woff2") format("woff2"),
  url("../fonts/ppagrandir/text/ppagrandir-bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

/****** tight ******/

// thin
@font-face {
  font-family: "ppagrandir-tight";
  src: url("../fonts/ppagrandir/tight/ppagrandir-tightthin.eot");
  src: url("../fonts/ppagrandir/tight/ppagrandir-tightthin.woff2") format("woff2"),
  url("../fonts/ppagrandir/tight/ppagrandir-tightthin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}

// regular
@font-face {
  font-family: "ppagrandir-tight";
  src: url("../fonts/ppagrandir/tight/ppagrandir-tightregular.eot");
  src: url("../fonts/ppagrandir/tight/ppagrandir-tightregular.woff2") format("woff2"),
  url("../fonts/ppagrandir/tight/ppagrandir-tightregular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

// black
@font-face {
  font-family: "ppagrandir-tight";
  src: url("../fonts/ppagrandir/tight/ppagrandir-tightblack.eot");
  src: url("../fonts/ppagrandir/tight/ppagrandir-tightblack.woff2") format("woff2"),
  url("../fonts/ppagrandir/tight/ppagrandir-tightblack.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

/****** wide ******/

// light
@font-face {
  font-family: "ppagrandir-wide";
  src: url("../fonts/ppagrandir/wide/ppagrandir-widelight.eot");
  src: url("../fonts/ppagrandir/wide/ppagrandir-widelight.woff2") format("woff2"),
  url("../fonts/ppagrandir/wide/ppagrandir-widelight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

// black italic
@font-face {
  font-family: "ppagrandir-wide";
  src: url("../fonts/ppagrandir/wide/ppagrandir-wideblackitalic.eot");
  src: url("../fonts/ppagrandir/wide/ppagrandir-wideblackitalic.woff2") format("woff2"),
  url("../fonts/ppagrandir/wide/ppagrandir-wideblackitalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
}
