/****** GRAND ******/

// Light
@font-face {
  font-family: "PPAgrandir-Grand";
  src: url("../fonts/PPAgrandir/Grand/PPAgrandir-GrandLight.eot");
  src: url("../fonts/PPAgrandir/Grand/PPAgrandir-GrandLight.woff2") format("woff2"),
  url("../fonts/PPAgrandir/Grand/PPAgrandir-GrandLight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

// Regular
@font-face {
  font-family: "PPAgrandir-Grand";
  src: url("../fonts/PPAgrandir/Grand/PPAgrandir-GrandRegular.eot");
  src: url("../fonts/PPAgrandir/Grand/PPAgrandir-GrandRegular.woff2") format("woff2"),
  url("../fonts/PPAgrandir/Grand/PPAgrandir-GrandRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

// Italic
@font-face {
  font-family: "PPAgrandir-Grand";
  src: url("../fonts/PPAgrandir/Grand/PPAgrandir-GrandItalic.eot");
  src: url("../fonts/PPAgrandir/Grand/PPAgrandir-GrandItalic.woff2") format("woff2"),
  url("../fonts/PPAgrandir/Grand/PPAgrandir-GrandItalic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

// Heavy
@font-face {
  font-family: "PPAgrandir-Grand";
  src: url("../fonts/PPAgrandir/Grand/PPAgrandir-GrandHeavy.eot");
  src: url("../fonts/PPAgrandir/Grand/PPAgrandir-GrandHeavy.woff2") format("woff2"),
  url("../fonts/PPAgrandir/Grand/PPAgrandir-GrandHeavy.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

/****** NARROW ******/

// Regular
@font-face {
  font-family: "PPAgrandir-Narrow";
  src: url("../fonts/PPAgrandir/Narrow/PPAgrandir-NarrowRegular.eot");
  src: url("../fonts/PPAgrandir/Narrow/PPAgrandir-NarrowRegular.woff2") format("woff2"),
  url("../fonts/PPAgrandir/Narrow/PPAgrandir-NarrowRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

// Black
@font-face {
  font-family: "PPAgrandir-Narrow";
  src: url("../fonts/PPAgrandir/Narrow/PPAgrandir-NarrowBlack.eot");
  src: url("../fonts/PPAgrandir/Narrow/PPAgrandir-NarrowBlack.woff2") format("woff2"),
  url("../fonts/PPAgrandir/Narrow/PPAgrandir-NarrowBlack.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

/****** TEXT ******/

// Thin Italic
@font-face {
  font-family: "PPAgrandir-Text";
  src: url("../fonts/PPAgrandir/Text/PPAgrandir-ThinItalic.eot");
  src: url("../fonts/PPAgrandir/Text/PPAgrandir-ThinItalic.woff2") format("woff2"),
  url("../fonts/PPAgrandir/Text/PPAgrandir-ThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
}

// Regular
@font-face {
  font-family: "PPAgrandir-Text";
  src: url("../fonts/PPAgrandir/Text/PPAgrandir-Regular.eot");
  src: url("../fonts/PPAgrandir/Text/PPAgrandir-Regular.woff2") format("woff2"),
  url("../fonts/PPAgrandir/Text/PPAgrandir-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

// Italic
@font-face {
  font-family: "PPAgrandir-Text";
  src: url("../fonts/PPAgrandir/Text/PPAgrandir-Italic.eot");
  src: url("../fonts/PPAgrandir/Text/PPAgrandir-Italic.woff2") format("woff2"),
  url("../fonts/PPAgrandir/Text/PPAgrandir-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

// Bold (bold)
@font-face {
  font-family: "PPAgrandir-Text";
  src: url("../fonts/PPAgrandir/Text/PPAgrandir-Bold.eot");
  src: url("../fonts/PPAgrandir/Text/PPAgrandir-Bold.woff2") format("woff2"),
  url("../fonts/PPAgrandir/Text/PPAgrandir-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

/****** TIGHT ******/

// Thin
@font-face {
  font-family: "PPAgrandir-Tight";
  src: url("../fonts/PPAgrandir/Tight/PPAgrandir-TightThin.eot");
  src: url("../fonts/PPAgrandir/Tight/PPAgrandir-TightThin.woff2") format("woff2"),
  url("../fonts/PPAgrandir/Tight/PPAgrandir-TightThin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}

// Regular
@font-face {
  font-family: "PPAgrandir-Tight";
  src: url("../fonts/PPAgrandir/Tight/PPAgrandir-TightRegular.eot");
  src: url("../fonts/PPAgrandir/Tight/PPAgrandir-TightRegular.woff2") format("woff2"),
  url("../fonts/PPAgrandir/Tight/PPAgrandir-TightRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

// Black
@font-face {
  font-family: "PPAgrandir-Tight";
  src: url("../fonts/PPAgrandir/Tight/PPAgrandir-TightBlack.eot");
  src: url("../fonts/PPAgrandir/Tight/PPAgrandir-TightBlack.woff2") format("woff2"),
  url("../fonts/PPAgrandir/Tight/PPAgrandir-TightBlack.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

/****** WIDE ******/

// Light
@font-face {
  font-family: "PPAgrandir-Wide";
  src: url("../fonts/PPAgrandir/Wide/PPAgrandir-WideLight.eot");
  src: url("../fonts/PPAgrandir/Wide/PPAgrandir-WideLight.woff2") format("woff2"),
  url("../fonts/PPAgrandir/Wide/PPAgrandir-WideLight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

// Black Italic
@font-face {
  font-family: "PPAgrandir-Wide";
  src: url("../fonts/PPAgrandir/Wide/PPAgrandir-WideBlackItalic.eot");
  src: url("../fonts/PPAgrandir/Wide/PPAgrandir-WideBlackItalic.woff2") format("woff2"),
  url("../fonts/PPAgrandir/Wide/PPAgrandir-WideBlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
}