/****** TEXT ******/

::selection {
  background: rgba($black, 0.3);

  // DARK MODE
  @media (prefers-color-scheme: dark) {
    background: rgba($branding, 0.3);
  }
}
::-moz-selection {
  background: rgba($black, 0.3);

  // DARK MODE
  @media (prefers-color-scheme: dark) {
    background: rgba($branding, 0.3);
  }
}

// Title
h1.title {
  font-size: 3.5rem;
  font-weight: 800;
  letter-spacing: -2px;
  color: $body;
  position: relative;
  line-height: 3.8rem;
  animation-delay: 0.25s;

  // DARK MODE
  @media (prefers-color-scheme: dark) {
    color: $branding-dark;
  }

  @media(min-width: $mq-Desktop) {
    font-size: 5.3rem;
    line-height: 5.5rem;
  }
}

p.subHead {
  padding-bottom: 2rem;
}

// LINK
a.link {
  color: $branding;
  text-decoration: none;

  // DARK MODE
  @media (prefers-color-scheme: dark) {
    color: $branding-dark;
  }

  &:hover {
    text-decoration: underline;
  }
}