/****** TYPOGRAPHY ******/

// Regular
@font-face {
  font-family: 'Larsseit';
  src: url('../fonts/Larsseit/Larsseit.eot');
  src: url('../fonts/Larsseit/Larsseit.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Larsseit/Larsseit.woff2') format('woff2'),
  url('../fonts/Larsseit/Larsseit.woff') format('woff'),
  url('../fonts/Larsseit/Larsseit.ttf') format('truetype'),
  url('../fonts/Larsseit/Larsseit.svg#Larsseit') format('svg');
  font-weight: normal;
  font-style: normal;
}

// Italic
@font-face {
  font-family: 'Larsseit';
  src: url('../fonts/Larsseit/Larsseit-Italic.eot');
  src: url('../fonts/Larsseit/Larsseit-Italic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Larsseit/Larsseit-Italic.woff2') format('woff2'),
  url('../fonts/Larsseit/Larsseit-Italic.woff') format('woff'),
  url('../fonts/Larsseit/Larsseit-Italic.ttf') format('truetype'),
  url('../fonts/Larsseit/Larsseit-Italic.svg#Larsseit-Italic') format('svg');
  font-weight: normal;
  font-style: italic;
}

// Medium (500)
@font-face {
  font-family: 'Larsseit';
  src: url('../fonts/Larsseit/Larsseit-Medium.eot');
  src: url('../fonts/Larsseit/Larsseit-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Larsseit/Larsseit-Medium.woff2') format('woff2'),
  url('../fonts/Larsseit/Larsseit-Medium.woff') format('woff'),
  url('../fonts/Larsseit/Larsseit-Medium.ttf') format('truetype'),
  url('../fonts/Larsseit/Larsseit-Medium.svg#Larsseit-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
}

// Bold (bold)
@font-face {
  font-family: 'Larsseit';
  src: url('../fonts/Larsseit/Larsseit-Bold.eot');
  src: url('../fonts/Larsseit/Larsseit-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Larsseit/Larsseit-Bold.woff2') format('woff2'),
  url('../fonts/Larsseit/Larsseit-Bold.woff') format('woff'),
  url('../fonts/Larsseit/Larsseit-Bold.ttf') format('truetype'),
  url('../fonts/Larsseit/Larsseit-Bold.svg#Larsseit-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

// Extra-Bold (800)
@font-face {
  font-family: 'Larsseit';
  src: url('../fonts/Larsseit/Larsseit-ExtraBold.eot');
  src: url('../fonts/Larsseit/Larsseit-ExtraBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Larsseit/Larsseit-ExtraBold.woff2') format('woff2'),
  url('../fonts/Larsseit/Larsseit-ExtraBold.woff') format('woff'),
  url('../fonts/Larsseit/Larsseit-ExtraBold.ttf') format('truetype'),
  url('../fonts/Larsseit/Larsseit-ExtraBold.svg#Larsseit-ExtraBold') format('svg');
  font-weight: 800;
  font-style: normal;
}
